* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #DDE6ED;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #526D82;
}



.header2 {
    min-height: 100vh;
    width: 100%;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2 a {
    color: #fff;
}

.search {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}


::placeholder {
    color: #cac7ff;
}

.search button img {
    width: 25px;
}

.search button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #DDE6ED;
    cursor: pointer;
    align-items: center;
}

.header2 h1 {
    color: #DDE6ED;
    margin-right: 50px;
}

.movies h1 {
    text-align: center;
    margin: 30px;
    font-size: 4em;
}

.concerts h1 {
    text-align: center;
    margin: 30px;
    font-size: 4em;
}

.stand-up h1 {
    text-align: center;
    margin: 30px;
    font-size: 4em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-bottom: 2rem;

}

.current-movie {
    background: #DDE6ED;
    padding: 1rem;
    border-radius: .5rem;
    width: 350px;
    align-items: center;
}

.cm-img-box {
    position: relative;
    height: 150px;
    width: 300px;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    align-self: center;
}

.cm-img-box img {
    height: 150px;
    width: 300px;
}

.movie-title {
    color: #000;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.price {
    color: #526D82;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #526D82;
    border-radius: 2rem;
    color: #fff;
    transition: .3s;
}

.btn:hover {
    background-color: #526D82;
}

.btn-l {
    width: 100%;
    text-align: center;
}

.small-container {
    margin: 80px auto;

}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #526D82;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #526D82;
    font-size: 12px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price {
    border-top: 3px solid #526D82;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}